This notebook goes along with the Deep Learning using Keras tutorial on Medium.

In [1]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical

Using TensorFlow backend.
/home/ronyang/.pyenv/versions/anaconda3-5.0.1/envs/tf/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:458: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/ronyang/.pyenv/versions/anaconda3-5.0.1/envs/tf/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:459: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/ronyang/.pyenv/versions/anaconda3-5.0.1/envs/tf/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:460: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/ronyang/.pyenv/versions/anaconda3-5.0.1/envs/tf/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:461: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/ronyang/.pyenv/versions/anaconda3-5.0.1/envs/tf/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:462: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/ronyang/.pyenv/versions/anaconda3-5.0.1/envs/tf/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:465: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In this first model, we are going to predict the hourly wages of employees.

In [2]:
#read in training data
train_df = pd.read_csv('data/hourly_wages_data.csv')

#view data structure
train_df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [3]:
#create a dataframe with all training data except the target column
train_X = train_df.drop(columns=['wage_per_hour'])

#check that the target variable has been removed
train_X.head()

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,0,8,21,35,1,1,0,1,0
1,0,9,42,57,1,1,0,1,0
2,0,12,1,19,0,0,0,1,0
3,0,12,4,22,0,0,0,0,0
4,0,12,17,35,0,1,0,0,0

In [4]:
#create a dataframe with only the target column
train_y = train_df[['wage_per_hour']]

#view dataframe
train_y.head()

   wage_per_hour
0           5.10
1           4.95
2           6.67
3           4.00
4           7.50

In [6]:
#create model
model = Sequential()

#get number of columns in training data
n_cols = train_X.shape[1]

#add model layers
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))

#compile model using mse as a measure of model performance
model.compile(optimizer='adam', loss='mean_squared_error')

#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(patience=3)

In [8]:
#train model
model.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Train on 427 samples, validate on 107 samples
Epoch 1/30
427/427 [==============================] - 0s 45us/step - loss: 19.6045 - val_loss: 30.9636
Epoch 2/30
427/427 [==============================] - 0s 39us/step - loss: 19.5449 - val_loss: 31.1543
Epoch 3/30
427/427 [==============================] - 0s 70us/step - loss: 19.4849 - val_loss: 30.8087
Epoch 4/30
427/427 [==============================] - 0s 63us/step - loss: 19.4048 - val_loss: 30.8495
Epoch 5/30
427/427 [==============================] - 0s 49us/step - loss: 19.3339 - val_loss: 30.4274
Epoch 6/30
427/427 [==============================] - 0s 61us/step - loss: 19.3034 - val_loss: 30.4998
Epoch 7/30
427/427 [==============================] - 0s 39us/step - loss: 19.2491 - val_loss: 30.9267
Epoch 8/30
427/427 [==============================] - 0s 73us/step - loss: 19.2290 - val_loss: 30.6510

In [9]:
#training a new model on the same data to show the effect of increasing model capacity

#create model
model_mc = Sequential()

#add model layers
model_mc.add(Dense(200, activation='relu', input_shape=(n_cols,)))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(1))

#compile model using mse as a measure of model performance
model_mc.compile(optimizer='adam', loss='mean_squared_error')

In [10]:
#train model
model_mc.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Train on 427 samples, validate on 107 samples
Epoch 1/30
427/427 [==============================] - 0s 1ms/step - loss: 28.2769 - val_loss: 30.1923
Epoch 2/30
427/427 [==============================] - 0s 105us/step - loss: 20.1538 - val_loss: 28.3234
Epoch 3/30
427/427 [==============================] - 0s 97us/step - loss: 20.0796 - val_loss: 30.5645
Epoch 4/30
427/427 [==============================] - 0s 140us/step - loss: 19.2623 - val_loss: 36.4913
Epoch 5/30
427/427 [==============================] - 0s 150us/step - loss: 19.2879 - val_loss: 38.8968

For this next model, we are going to predict if patients have diabetes or not.

In [11]:
#read in training data
train_df_2 = pd.read_csv('data/diabetes_data.csv')

#view data structure
train_df_2.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [12]:
#create a dataframe with all training data except the target column
train_X_2 = train_df_2.drop(columns=['diabetes'])

#check that the target variable has been removed
train_X_2.head()

   pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
0            6      148         72       35        0  33.6  0.627   50
1            1       85         66       29        0  26.6  0.351   31
2            8      183         64        0        0  23.3  0.672   32
3            1       89         66       23       94  28.1  0.167   21
4            0      137         40       35      168  43.1  2.288   33

In [13]:
#one-hot encode target column
train_y_2 = to_categorical(train_df_2.diabetes)

#vcheck that target column has been converted
train_y_2[0:5]

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.]])

In [14]:
#create model
model_2 = Sequential()

#get number of columns in training data
n_cols_2 = train_X_2.shape[1]

#add layers to model
model_2.add(Dense(250, activation='relu', input_shape=(n_cols_2,)))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(2, activation='softmax'))

#compile model using accuracy to measure model performance
model_2.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [17]:
#train model
model_2.fit(train_X_2, train_y_2, epochs=30, validation_split=0.2, callbacks=[early_stopping_monitor])

Train on 614 samples, validate on 154 samples
Epoch 1/30
614/614 [==============================] - 1s 911us/step - loss: 4.0183 - acc: 0.5293 - val_loss: 2.0198 - val_acc: 0.5260
Epoch 2/30
614/614 [==============================] - 0s 136us/step - loss: 1.3806 - acc: 0.6091 - val_loss: 0.8242 - val_acc: 0.5519
Epoch 3/30
614/614 [==============================] - 0s 132us/step - loss: 0.7373 - acc: 0.6596 - val_loss: 0.8700 - val_acc: 0.6688
Epoch 4/30
614/614 [==============================] - 0s 122us/step - loss: 0.8579 - acc: 0.6124 - val_loss: 0.6440 - val_acc: 0.6688
Epoch 5/30
614/614 [==============================] - 0s 131us/step - loss: 0.6643 - acc: 0.6759 - val_loss: 0.6305 - val_acc: 0.6818
Epoch 6/30
614/614 [==============================] - 0s 146us/step - loss: 0.6416 - acc: 0.6938 - val_loss: 0.6309 - val_acc: 0.6753
Epoch 7/30
614/614 [==============================] - 0s 132us/step - loss: 0.6632 - acc: 0.6645 - val_loss: 0.8233 - val_acc: 0.5974
Epoch 8/30
614/614 [==============================] - 0s 147us/step - loss: 0.6426 - acc: 0.6645 - val_loss: 0.6215 - val_acc: 0.6818
Epoch 9/30
614/614 [==============================] - 0s 138us/step - loss: 0.6041 - acc: 0.6889 - val_loss: 0.6642 - val_acc: 0.6688
Epoch 10/30
614/614 [==============================] - 0s 132us/step - loss: 0.6274 - acc: 0.7020 - val_loss: 0.6396 - val_acc: 0.6688
Epoch 11/30
614/614 [==============================] - 0s 130us/step - loss: 0.6082 - acc: 0.6792 - val_loss: 0.6750 - val_acc: 0.6429